@font-face {
    font-family: DIN;
    src: url(/fonts/DIN.ttf);
}

.navbar {
    background-color: rgba(96,132,247,.3);
    display: inline-flex;
    padding: 0 0 0 0;
    height: 75px;
    width: 75%;
    border-radius: 50px;
    outline-style: inset;
    outline-width: 2px;
    outline-color: rgb(255, 215, 0, .7);
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-family: 'DIN';
}

.navlist {
    list-style-type: none;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 75%;
}

    .navlist .navlistItem {
        display: inline;
    }

.navbar a {
    color: rgb(255, 255, 255, 0.9);
    text-decoration: none;
}

    .navbar a:hover {
        color: rgb(200, 150, 255, 0.80);
    }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .content {
        padding-top: 60px;
    }