.navbar {
    background-color: rgba(49,67,79,255);
    color: rgba(217,177,92,255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-family: 'Courier New';
}

.navlist {
    list-style-type: none;
}

    .navlist .navlistItem {
        display: inline-block;
        padding: 50px 10px;
    }

.navbar a {
    color: rgba(217,177,92,255);
    text-decoration: none;
}

    .navbar a:hover {
        color: rgba(154,211,249,255);
    }

#navLogo {
    font-family: 'Courier New';
    font-size: 60px;
}

#navSlogan {
    font-family: 'Courier New';
    font-size: 30px;
}
